table {
    font-family: sans-serif;
    width: 100%;
}

thead {
    background-color: #0daf3f;
    color: #fff;
}

tfoot {
    background-color: #d52afd;
    color: #fff;
}

td,
th {
    padding: 10px;
    text-align: center;
}

.first-col {
    width: 10%;
}

tr>td:first-child {
    width: 50%;
}